/******************************************
/* CSS
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/


header{

  text-align: center;
}

body{
  background-color: rgb(83, 83, 81);
  font-size: 2rem;
  font-family: 'Agbalumo', 'Arial Narrow', sans-serif;
}
button{
  font-size: 1.7rem;
  margin: auto;
  background-color: rgb(235, 224, 214);
  display: block;
}
h3{
  text-decoration: underline;
}
ul{
  list-style: none;
}
/******************************************
/* ADDITIONALSTYLES
/*******************************************/
.hidden{
  display: none;
}