/*pageLoading*/
.skeleton {
  visibility: visible;
  padding-top: 30%;
  background-color: #b6e72e;
  text-align: center;
  animation: skeleton-loading  1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {background-color: #b6e72e}
  100% {background-color: #4b3d3d;}
}
/*searchBar*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.wrap{
  width: 40%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.searchTerm {
  width: 100%;
  border: 3px solid rgb(63, 63, 61);
  border-right: none;
  padding: 5px;
  height: 37px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(63, 63, 61);
  background: rgb(63, 63, 61);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
/*tags*/

header{
  text-align: center;
}

body{
  background-color: rgb(83, 83, 81);
  font-size: 2rem;
  font-family: 'Agbalumo', 'Arial Narrow', sans-serif;
  color:antiquewhite;
  text-shadow: 3px 3px 3px rgb(63, 63, 61);
}
section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 2%;
}
button{
  font-size: 1.7rem;
  margin: auto;
  background-color: rgb(235, 224, 214);
  display: block;
}
 h1{
  text-shadow: 5px 5px 5px rgb(63, 63, 61);

} 
ul, ol{
  list-style: none;
}
img {
  border-radius: 5%;
}

.hidden{
  display: none;
}

@media screen and (min-width: 900px) {
  section{
    grid-template-columns: repeat(3, 1fr);
  
  }
  .col{
    /* box-shadow: inset 5px 5px rgb(85, 96, 100); */
    box-shadow: inset 5px 5px rgb(63, 63, 61);
    padding-top: 2%;
    padding-left: 5%;
    border-radius: 5%;
  }
  h1{
    text-shadow: 5px 5px 5px rgb(63, 63, 61);
  
  } 
}